<section>
  <div class="page-header">
    <h1>Top Players</h1>
  </div>
<div class="tab-content tab-content-in">
                            <div class="tab-pane active text-style" id="tab1">
                              <div class="inbox-right">
                                  
                        <div class="mailbox-content">
                          
                <table class="table" style="font-size: 1.85em;
">
                    <tbody>
                        <tr class="table-row" ng-repeat="user in vm.rankUsers">
                            <td class="table-img">
                               <img src="{{user.profileImageURL}}" alt="" />
                            </td>
                            <td class="table-text">
                              <h6>{{user.displayName}}</h6>
                                <p>username - {{user.username}}</p>
                            </td>
                            <td>
                              <span ng-class="work" >
                              {{user.user_points}}</span>
                            </td>
                            <td class="march">
                                {{user.user_rank}}
                            </td>
                          
                             <td >
               <a class="btn green fifth" href="mailto:{{user.email}}?subject=Stock Game Message">Send message</a>
                            </td>
                        </tr>
                      
                    </tbody>
                </table>
               </div>
            </div>
</div>
</div>

  <!-- <div class="list-group">
    <a data-ng-repeat="player in vm.players"
       data-ui-sref="players.view({ playerId: player._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Joined on
        <span data-ng-bind="player.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="player.user" data-ng-bind="player.user.displayName"></span>
        <span data-ng-if="!player.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="player.game.game_name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.players.$resolved && !vm.players.length">
    No Players yet, why don't you <a data-ui-sref="players.create">create one</a>?
  </div>-->
</section>
