<section>
  <div class="page-header">
    <h1>{{vm.lineup._id ? 'Edit Lineup' : 'New Lineup'}}</h1>
  </div>
  <div class="col-md-12" style="width: 30%;
    margin-left: 33%;">
    <form name="vm.form.lineupForm" class="form-horizontal" ng-submit="vm.save(vm.form.lineupForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.lineup.name" id="name" class="form-control" placeholder="Give a name to your new lineup" required>
          <div ng-messages="vm.form.lineupForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Lineup name is required.</p>
          </div>
        </div>

        <div class="form-group mainselection" show-errors>

          <h4>Amount($)</h4>

          <select name="max_money" ng-model="vm.lineup.max_money" id="max_money"  ng-options="max_money as max_money for max_money in vm.max_money_huddlers" required>
          </select>
          <div ng-messages="vm.form.lineupForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Lineup Amount is required.</p>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.lineup._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
