<!--<div class="container" ng-controller="HeaderController">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a ui-sref="home" class="navbar-brand">MEAN.JS</a>
  </div>
  <nav class="navbar-collapse" uib-collapse="!isCollapsed" role="navigation">
    <ul class="nav navbar-nav" ng-if="menu.shouldRender(authentication.user);">
      <li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" uib-dropdown="item.type === 'dropdown'">
        <a ng-switch-when="dropdown" class="dropdown-toggle" uib-dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
        <ul ng-switch-when="dropdown" class="dropdown-menu">
          <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">
            <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
          </li>
        </ul>
        <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">
      <li ui-sref-active="active">
        <a ui-sref="authentication.signup">Sign Up</a>
      </li>
      <li class="divider-vertical"></li>
      <li ui-sref-active="active">
        <a ui-sref="authentication.signin">Sign In</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
      <li class="dropdown" uib-dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
          <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
          <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ui-sref-active="active" ng-repeat="item in accountMenu.items">
            <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Signout</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>-->
<style type="text/css">
  .bigFont {
    margin-top: 1%;
    margin-left: 2%;
  }

  


  .bigFont li a {

    font-weight: bold;
    font-size: 16px;
  }
</style>
<a ui-sref="home" class="navbar-brand" ><img class="logoimg" src="/images/newLogo.png"></a>
<div ng-controller="HeaderController" style="    background: #383739;">
<div class="container" >

  <div class="navbar-header">
    <button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
  </div>
  <nav class="navbar-collapse" uib-collapse="!isCollapsed" role="navigation">

    <ul class="nav navbar-nav bigFont" ng-if="menu.shouldRender(authentication.user);">
    <li>
        <a href="/">Lobby</a>
      </li>
      <li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" uib-dropdown="item.type === 'dropdown'">
        <a ng-switch-when="dropdown" class="dropdown-toggle" uib-dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
        <ul ng-switch-when="dropdown" class="dropdown-menu">
          <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">
            <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
          </li>
        </ul>
        <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">
      
      <li ui-sref-active="active">
        <a style="
    margin-top: 10px; font-size: 17px;" ui-sref="authentication.signin">Sign In</a>
      </li>
      <li class="divider-vertical"></li>
      <li ui-sref-active="active">
        <a style=" margin-top: 19px;
            margin-right: 25px;
    background-color: #158102;
    height: 34px;
    padding-top: 8px;
    font-size: 17px;" ui-sref="authentication.signup">Sign Up</a> 
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="margin-top: 1%;" ng-show="authentication.user">

    <li class="dropdown note">
                <a ng-click="readNotification()" class="dropdown-toggle" data-toggle="dropdown" style="background-color: rgb(56, 55, 57);" aria-expanded="false"><i class="fa fa-bell-o"></i> <span class="badge blue1">{{(notifications | filter:false).length}}</span></a>
                    <ul class="dropdown-menu two">
                    <li>
                      <div class="notification_header">
                        <h3>You have these Notification</h3>
                      </div>
                    </li>
                    <li ng-repeat="notification in notifications  | limitTo:5"><a href="{{notification.href}}">
                               <div class="user_img"><img src="{{notification.image}}" alt=""></div>
                               <div class="notification_desc">
                              <p>{{notification.message}}</p>
                              <p><span>{{notification.created}}</span></p>
                              </div>
                               <div class="clearfix"></div> 
                             </a></li>
                    
                    <li>
                      <div class="notification_bottom">
                        <a href="/notifications">See all Notification</a>
                      </div> 
                    </li>
                  </ul>
              </li> 
      <li class="dropdown" uib-dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
          Balance : $<span ng-bind="authentication.user.user_balance | number:2"></span>
        
          <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
          <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>

        </a>
        <ul class="dropdown-menu" role="menu">
          <li ui-sref-active="active" ng-repeat="item in accountMenu.items">
            <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Signout</a>
          </li>
          <li>
            <a href="/notifications">Notification</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
  <div class="header-section">
            <!--menu-right-->
            <div class="top_menu" style="background-color: #1d1c1e;">
                    
              <!--/profile_details-->
                <div>
                  <ul class="nofitications-dropdown">
                      
                    <li class="dropdown note">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background-color: #1d1c1e; padding: 1.4em 0em;    color: #1d1c1e;"; aria-expanded="false">W</a>

                    </li>
                    
              <!--<li class="dropdown note">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background-color: Black;"; aria-expanded="false"><i class="fa fa-bell-o"></i> <span class="badge">5</span></a>

                  <ul class="dropdown-menu two">
                    <li>
                      <div class="notification_header">
                        <h3>You have 5 new notification</h3>
                      </div>
                    </li>
                    <li><a href="#">
                      <div class="user_img"><img src="images/in.jpg" alt=""></div>
                       <div class="notification_desc">
                      <p>Lorem ipsum dolor sit amet</p>
                      <p><span>1 hour ago</span></p>
                      </div>
                      <div class="clearfix"></div>  
                     </a></li>
                     <li class="odd"><a href="#">
                      <div class="user_img"><img src="images/in5.jpg" alt=""></div>
                       <div class="notification_desc">
                      <p>Lorem ipsum dolor sit amet </p>
                      <p><span>1 hour ago</span></p>
                      </div>
                       <div class="clearfix"></div> 
                     </a></li>
                     <li><a href="#">
                      <div class="user_img"><img src="images/in8.jpg" alt=""></div>
                       <div class="notification_desc">
                      <p>Lorem ipsum dolor sit amet </p>
                      <p><span>1 hour ago</span></p>
                      </div>
                       <div class="clearfix"></div> 
                     </a></li>
                     <li>
                      <div class="notification_bottom">
                        <a href="#">See all notification</a>
                      </div> 
                    </li>
                  </ul>
              </li> 
            <li class="dropdown note">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="background-color: Black;"; aria-expanded="false"><i class="fa fa-tasks"></i> <span class="badge blue1">{{notifications.length}}</span></a>
                    <ul class="dropdown-menu two">
                    <li>
                      <div class="notification_header">
                        <h3>You have these Notification</h3>
                      </div>
                    </li>
                    <li ng-repeat="notification in notifications"><a href="#">
                               <div class="user_img"><img src="notification.image" alt=""></div>
                               <div class="notification_desc">
                              <p>{{notification.message}}</p>
                              <p><span>{{notification.created}}</span></p>
                              </div>
                               <div class="clearfix"></div> 
                             </a></li>
                    
                    <li>
                      <div class="notification_bottom">
                        <a href="/notifications">See all Notification</a>
                      </div> 
                    </li>
                  </ul>
              </li>     -->               
              <div class="clearfix"></div>  
                </ul>
              </div>
              <div class="clearfix"></div>  
              <!--//profile_details-->
            </div>
            <!--//menu-right-->
          <div class="clearfix"></div>
        </div></div>