

<section>
 

          <!-- //header-ends -->
            <div class="outter-wp">
                <!--custom-widgets-->


                <!--/bottom-grids class="bottom-grids"-->     
                 <div >
                    <div class="dev-table">    
                      <div class="col-md-4 dev-col">                                    

                                            <div class="dev-widget dev-widget-transparent" style="background-image: url(/images/banner_1.jpg);">
                                                                                      
                                                

                                                <a href="/aboutus" class="dev-drop">Take a closer look <span class="fa fa-angle-right pull-right"></span></a>
                                            </div>

                                        </div>
                                        <div class="col-md-4 dev-col">                                    

                                            <div class="dev-widget dev-widget-transparent" style="background-image: url(/images/banner_2.jpg);">
                                                   <a href="/lineups/create" class="dev-drop">Take a closer look <span class="fa fa-angle-right pull-right"></span></a>
                                            </div>

                                        </div>
                                        <div class="col-md-4 dev-col">                                    

                                            <div class="dev-widget dev-widget-transparent" style="background-image: url(/images/banner_3.jpg);">
                                                 <a href="/" class="dev-drop">Take a closer look <span class="fa fa-angle-right pull-right"></span></a>                                         
                                            </div>

                                        </div>
                    <div class="clearfix"></div>    
                    
                    </div>
                    </div>
                  <!--//bottom-grids-->

                      <!--<div class="custom-widgets">
                           <div class="row-one">
                            <div class="col-md-3 widget">
                              <div class="stats-left ">
                                <h5>Total</h5>
                                <h4> Games</h4>
                              </div>
                              <div class="stats-right">
                                <label>90</label>
                              </div>
                              <div class="clearfix"> </div> 
                            </div>
                            <div class="col-md-3 widget states-mdl">
                              <div class="stats-left">
                                <h5>Stocks</h5>
                                <h4>NASDAQ</h4>
                              </div>
                              <div class="stats-right">
                                <label> 285</label>
                              </div>
                              <div class="clearfix"> </div> 
                            </div>
                            <div class="col-md-3 widget states-thrd">
                              <div class="stats-left">
                                <h5>Today</h5>
                                <h4>Starting</h4>
                              </div>
                              <div class="stats-right">
                                <label>10</label>
                              </div>
                              <div class="clearfix"> </div> 
                            </div>
                            <div class="col-md-3 widget states-last">
                              <div class="stats-left">
                                <h5>Result</h5>
                                <h4>BestGames</h4>
                              </div>
                              <div class="stats-right">
                                <label>30</label>
                              </div>
                              <div class="clearfix"> </div> 
                            </div>
                            <div class="clearfix"> </div> 
                          </div>
                        </div>-->
                        <div class="custom-widgets" style="float: none;
                            text-align: center;
    margin-bottom: 15px;">
                         <h4 style="color: #C8E632;">Sign up and get $5 free on your first deposit of more than $50</h4>
                        </div>


                        <div class="custom-widgets">
                           <div class="row-one" style="float: none;
    margin: 0 auto;
    width: 80%;">
                            <div class="col-md-3 widget2">
                              <div>
                                
                                <a href="/games/create"><h4><i class="fa-green fa-trophy"></i> Create Games</h4></a>
                              </div>
                              
                              <div class="clearfix"> </div> 
                            </div>
                            <div class="col-md-3 widget2">
                              <div >
                                <a href="/lineups/create"><h4><i class="fa-green fa-bar-chart-o"></i> Create Lineup</h4></a>
                              </div>
                              
                              <div class="clearfix"> </div> 
                            </div>
                            <div class="col-md-3 widget2">
                              <div>
                               <a href="/paymenthistories/create"> <h4><i class="fa-green fa-usd"></i> Deposit</h4>
                              </div></a>
                              
                              <div class="clearfix"> </div> 
                            </div>
                            <div class="col-md-3 widget2">
                              <div >
                               <a href="/facebook"> <h4><i class="fa-green fa-facebook-square"></i> Share</h4></a>
                              </div>
                            </div>
                            <div class="clearfix"> </div> 
                          </div>
                        </div>
                        <!--//custom-widgets-->

<div>

                     <!-- <div class="col-md-12">
    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </uib-slide>
    </uib-carousel>
  </div>
  <!--<div class="col-md-4 dev-col">                                    

                                            <div class="dev-widget dev-widget-transparent dev-widget-danger" style=" height: 300px;background-image: url(http://im.ft-static.com/content/images/d749d0ad-1de1-4685-96e0-0d9917b35b7e.img);">
                                                 <h3 class="inner">Your Balance</h3>
                                                <p>All your earnings for this time</p>
                                                <div class="dev-stat">$<span class="counter">5,321</span></div>                                                                                
                                                                                     
                                                <p>You can withdraw this money in end of each month. Also you can spend it on our marketplace.</p>

                                                <a href="#" class="dev-drop">Take a closer look <span class="fa fa-angle-right pull-right"></span></a>                                        
                                            </div>

                                        </div>

</div>
                        <!--/candile-->


<div ng-include="'/modules/games/client/views/game_modal.html'"></div>
                       <div class="col-md-12 stats-grid" ng-init="init()">
                                  <!--<div class="stats-head">
                                      <h4 class="title3">
                                      <span>Games</span>
                                      <span>Contest</span>
                                      <span>Entry Fee</span>
                                      <span>Total Prizes</span>
                                      <span>Entries</span>
                                      <span>Live</span>
                                      <span style="float:right;">Next Start-{{nextliveValue}}</span>
                                      </h4>

                                      <!--<countdown style="float:right;" stopdate="{{nextlive}}"></countdown>
                                    </div>-->
                                 <!-- <div class="stats-info graph">
                                    <div class="stats">
                                      <div class="graph" style="background: #ffffff;font-size:1.75em">
                                       <!--<form action="#" method="GET">
                        <div class="input-group input-group-in">
                          <input type="text" ng-model="searchGame" name="search" class="form-control2 input-search" placeholder="Search...">
                          <span class="input-group-btn">
                            <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                          </span>
                        </div>
                      </form>-->

                     <!--<h4> <span style="float:right;">Next Start:  {{nextliveValue}}</span></h4>-->
                              <div class="tables" style="height:450px;">
                                <table class="table table-hover">
                               
                       <thead style="    background: #1D1C1E;
    font-size: 1.6em;"> <tr>  <th> Contest</th> <th>Entry Fee</th> <th>Total Prizes</th> <th>Entries</th> <th>Live</th> <th></th></tr> </thead> <tbody style="    background: white;
    font-size: 1.5em;
    overflow-y: scroll;"> <tr  data-ng-repeat="game in games | filter:searchGame | limitTo:20" 
      ng-show="!{{game.game_player == game.game_minPlayer}}" style="border-top: 1px solid rgba(158, 158, 160, 0.15);" > <td ng-click="getGame(game)"><a style="cursor: pointer;">{{game.game_name}}</a></td> <td>${{game.game_EntryFee}}</td>  <td>${{(game.game_minPlayer*game.game_EntryFee)-(((game.game_minPlayer*game.game_EntryFee)*10)/100) |number:2}}</td> <td>{{game.game_player}}/{{game.game_minPlayer}}</td> <td style="color:red;">{{game.game_startTime| date: 'medium' : '-0000'}}</td> <td><a class="greenlink fifth" data-ui-sref="games.view({ gameId: game._id })">Enter</a></td></tr> </tbody> </table> 
                              </div>
                        
                          </div>
                                    
                                 <!-- </div>
                                </div>

                                <div class="col-md-4 dev-col">                                    

                                            <div class="dev-widget dev-widget-transparent dev-widget-danger" style=" background-image: url(http://www.stock-options-made-easy.com/images/coaster.gif);margin: 1.5em 0 2em 0;">
                                                 <h3 class="inner">Your Balance</h3>
                                                <p>All your earnings for this time</p>
                                                <div class="dev-stat">$<span class="counter">5,321</span></div>                                                                                
                                                                                     
                                                <p>You can withdraw this money in end of each month. Also you can spend it on our marketplace.</p>

                                                <a href="#" class="dev-drop">Take a closer look <span class="fa fa-angle-right pull-right"></span></a>                                        
                                            </div>

                                        </div>
                    <!--/bottom-grids-->     
                  <!--<div class="bottom-grids">
                    <div class="dev-table">    
                      <div class="col-md-4 dev-col">                                    

                                            <div class="dev-widget dev-widget-transparent">
                                                <h2 class="inner one">Server Usage</h2>
                                                <p>Today server usage in percentages</p>                                        
                                                <div class="dev-stat"><span class="counter">90</span>%</div>                                                                                
                                                <div class="progress progress-bar-xs">
                                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                                                </div>                                        
                                                <p>We Todayly recommend you change your plan to <strong>Pro</strong>. Click here to get more details.</p>

                                                <a href="#" class="dev-drop">Take a closer look <span class="fa fa-angle-right pull-right"></span></a>
                                            </div>

                                        </div>
                                        <div class="col-md-4 dev-col mid">                                    

                                            <div class="dev-widget dev-widget-transparent dev-widget-success">
                                                 <h3 class="inner">NASDAQ Earnings</h3>
                                                <p>This is Today earnings per last year</p>                                        
                                                <div class="dev-stat">$<span class="counter">75,332</span></div>                                                                                
                                                <div class="progress progress-bar-xs">
                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 79%;"></div>
                                                </div>                                        
                                                <p>We happy to notice you that you become an Elite customer, and you can get some custom sugar.</p>

                                                <a href="#" class="dev-drop">Take a closer look <span class="fa fa-angle-right pull-right"></span></a>
                                            </div>

                                        </div>
                                        <div class="col-md-4 dev-col">                                    

                                            <div class="dev-widget dev-widget-transparent dev-widget-danger">
                                                 <h3 class="inner">Your Balance</h3>
                                                <p>All your earnings for this time</p>
                                                <div class="dev-stat">$<span class="counter">5,321</span></div>                                                                                
                                                <div class="progress progress-bar-xs">
                                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                                </div>                                        
                                                <p>You can withdraw this money in end of each month. Also you can spend it on our marketplace.</p>

                                                <a href="#" class="dev-drop">Take a closer look <span class="fa fa-angle-right pull-right"></span></a>                                        
                                            </div>

                                        </div>
                    <div class="clearfix"></div>    
                    
                    </div>
                    </div>
                  <!--//bottom-grids-->
                  
                  </div>
                  
        <!--//content-inner-->
     
</section>
