<section>
  <div class="page-header">
    <h1>{{vm.paymenthistory._id ? 'Edit Paymenthistory' : 'New Withdraw Request'}}</h1>
  </div>

   <modal title="Confirmation" visible="vm.paynow" >
     <h3>{{vm.message}}</h3>
      <a class="btn green fifth" href="/" target="_self">Confirm</a>
    </modal>

  <div class="col-md-5" style="float: none;
    margin: 0 auto;">
    <form name="vm.form.paymenthistoryForm" class="form-horizontal" ng-submit="vm.save(vm.form.paymenthistoryForm.$valid)" novalidate>
      <fieldset>


      <div class="form-group" show-errors>
          <label class="control-label" for="amount">Amount</label>
          <input name="amount" type="number" ng-model="vm.paymenthistory.amount" min="1" id="amount" class="form-control" placeholder="amount" required>
          <div ng-messages="vm.form.paymenthistoryForm.amount.$error" role="alert">
            <p class="help-block error-text" ng-message="required"> Money is required.</p>
          </div>
      </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="payment_method">payment_method</label>
          
        <select name="payment_method" ng-model="vm.paymenthistory.payment_method" id="payment_method" ng-change="paymentMethod()" required>
      <option value="paypal">paypal</option>
      
        </select>

          <div ng-messages="vm.form.paymenthistoryForm.payment_method.$error" role="alert">
            <p class="help-block error-text" ng-message="required">payment_method is required.</p>
          </div>
          </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="paypalId">paypalId</label>
          <input name="paypalId" type="text" ng-model="vm.paymenthistory.paypalId" id="paypalId" class="form-control" placeholder="paypalId" required>
      </div>


        <div class="form-group" show-errors>
          <label class="control-label" for="description">Description</label>
          <input name="description" type="text" ng-model="vm.paymenthistory.description" id="description" class="form-control" placeholder="description(Optional)" >
      </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.paymenthistory._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
